{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Личный кабинет{%endblock%}</title>
    <link href="{% static 'image/facicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontello.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        #video {
            width: 640px;
            height: 480px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="">
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Админка</a></li>
                {%endif%}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'start_page' %}">Кабинет</a></li>
                    <li><a href="{% url 'logout' %}">Выход</a></li>            
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'registration' %}">Зарегистрироваться</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {%block content%}
    <h1>Личный кабинет</h1>
    <p>Это начальная страница сайта. Здесь можно выбрать функционал:</p>
    <ul>
        <li><a href="{%url 'passwordchange' %}">Поменять пароль</a>.</li>
        <li><a href="{% url 'upload_video' %}">Загрузить видео</a>.</li>
        <li><a href="{% url 'add_camera' %}">Добавить камеру</a>.</li>
    </ul>
    {%if videos%}
        <p>Загруженные видео:</p>
        <ul>
        {%for video in videos%}
            <li>{{video}}.    {%if not video.processed_video%}<a href="#">Обработать</a>{%else%}<a href="{{video.processed_video.video.url}}" download="">Скачать результат</a>{%endif%}.</li>
        {%endfor%}
        </ul>
    {%else%}
        <p>Не загружено ни одного видео.</p>
    {%endif%}
    {%if cameras%}
        <p>Подключённые камеры</p>
        <ul>
        {%for camera in cameras%}
            <li>{{camera}}.    <a href="{%url 'result' camera.id%}">Смотреть</a>.</li>
        {%endfor%}
        </ul>
    {%else%}
        <p>Нет подключённых камер.</p>
    {%endif%}
    {%endblock%}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>