{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <title>{%block title%}Личный кабинет{%endblock%}</title>
</head>
<body>
    <div class="navbar">
        <ul class="menu">
        {% if request.user.is_superuser %}
        <li><a href="{% url 'admin:index' %}">Админка</a></li>
        {%endif%}
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'start_page' %}">Кабинет</a></li>
            <li><a href="{% url 'logout' %}">Выход</a></li>            
        {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'registration' %}">Зарегистрироваться</a></li>
        {% endif %}
        </ul>
    </div
    {%block content%}
    <h1>Личный кабинет</h1>
    <p>Это начальная страница сайта. Здесь можно выбрать функционал:</p>
    <ul>
        <li><a href="{%url 'passwordchange' %}">Поменять пароль</a>.</li>
        <li><a href="{% url 'upload_video' %}">Загрузить видео</a>.</li>
    </ul>
    {%endblock%}
</body>
</html>